<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="${ac.contextPath}/">tradedata</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul id="navBarUl" class="nav navbar-nav">
    </ul>
  </div>
</nav>